@import url("variables.css");

.accordion-alma {
    background-color: #fff;
    border: 1px solid var(--interaction-blend-04);
    border-radius: 8px;
    padding: 16px;
    transition: all 0.3s;
}

.accordion-alma.collapsed:hover, .accordion-alma.collapsed.active {
    background-color: rgba(22, 22, 22, 0.04);
}

.accordion-alma.expanded:hover, .accordion-alma.expanded.active {
    background-color: transparent;
}

.accordion-alma.active #reduced span {
    transition: all 01s;
}

.accordion-alma.active #reduced span {
    transform: rotate(180deg);
}

.accordion-alma:focus {
    border: 2px solid #363636;
    background-color: rgba(22, 22, 22, 0.04);
}

.accordion-alma .card-text {
    font: 600 14px/23.8px 'Dasa Sans';
    color: #363636
}

.accordion-alma .accordion-actions {
    text-align: right;
}

.accordion-alma .btn-collapse {
    font: 600 16px/24px 'Dasa Sans';
    color: var(--interaction-select-default);
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.accordion-alma .form-accordion {
    margin-top: 20px;
}

#deploy-box{
    display:none
}

#summary-discount-name {
    text-align: left;
    max-width: 180px;
}

.accordion-alma .btn-with-icon {
    font: 600 16px/24px 'Dasa Sans';
    color: var(--interaction-select-default);
    justify-content: space-between;
    cursor: pointer;
}

.accordion-icon[aria-expanded="false"] .fa-chevron-down {
    transform: rotate(0deg);
}

.accordion-icon[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.5s;
}