.card-list-no-dev-ex {
  display: flex;
  flex-direction: column;
}

#page-title-container {
  display: flex !important;
  gap: 16px;
  align-items: center;
}

#page-title-container h5 {
  margin: 0;
}

#title-with-action-button-container {
    display: flex;
    gap: 16px;
    align-items: center;
  position: relative;
  z-index: 10;
}

#page-title-container-wrapper {
  flex: 1;
}

ul.nav.nav-tabs {
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

ul.nav-tabs .nav-link span {
  color: var(--gray) !important;
  font-family: Dasa Sans !important;
  font-weight: 400;
  font-size: 16px;
}

ul.nav.nav-tabs a.nav-link.active {
  border: var(--primary) thin solid;
  border-radius: 8px; 
}

ul.nav-tabs .nav-link.active span {
  color: var(--primary) !important;
}

#terms-and-conditions-container {
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 16px;
}

#termsAndConditionsModal .modal-content {
  border-radius: 16px;
}

#termsAndConditionsModal .view-more {
  color: var(--primary-color);
  cursor: pointer;
}

.custom-scroll {
  overflow-y: auto;
}

.custom-scroll .inner {
  width: 100%;
  content: ".";
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--interaction-blend-04);
  margin-top: 16px;
  margin-bottom: 16px;
}