@import url("variables.css");

.btn-primary, .btn-secondary, .btn-tertiary, .btn-outlined {
    font-family: Dasa Sans !important;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s;
    min-width: 120px;
}

.btn-primary {
    background: var(--primary);
    color: #ffffff;
    border-radius: 25px;
    border: 1px solid var(--primary);
}

.btn-cancel {
    color: var(--primary) !important;
    background-color: var(--neutral-00) !important;
    border-radius: 4px !important;
    min-width: 90px !important;
    padding: 12px 16px !important;
    margin-left: 0px !important;
    margin-right: 16px !important;
}

    .btn-cancel :focus {
        border: 2px solid var(--interaction-select-active) !important;
        background-color: var(--interaction-subtle-01) !important;
    }

    .btn-cancel :hover {
        background-color: var(--interaction-subtle-01) !important;
    }

    .btn-cancel :active {
        border: none !important;
        background-color: var(--interaction-subtle-01) !important;
    }

.btn-secondary {
    background: var(--secondary);
    color: #ffffff;
    border-radius: 25px;
    border: 1px solid var(--secondary);
}

.btn-tertiary {
    background: none;
    color: var(--tertiary);
}

.btn-primary:disabled {
    background: #6a006a;
    color: #ffffffb3;
    border: 1px solid #6a006a;
    border-radius: 25px;
    cursor: not-allowed;
    opacity: 0.6;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background: var(--interactive-primary);
    border-color: var(--interactive-primary);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus {
    background: var(--interactive-secondary);
    border-color: var(--interactive-secondary);
}

.btn-tertiary:hover, .btn-tertiary:active, .btn-tertiary:focus, .btn-tertiary:active:focus {
    background: var(--interactive-tertiary);
    border-color: var(--interactive-tertiary);
}

.btn-arrow {
    color: white;
    font-weight: 400;
    background-color: var(--interaction-select-active);
    border-color: var(--interaction-select-active);
    margin-right: 100px
}

input[type=checkbox] {
    accent-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.active, .btn-primary:active, .btn-primary:focus {
    background-color: var(--interactive-primary);
    border-color: "transparent";
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary.active, .btn-secondary:active, .btn-secondary:focus {
    background-color: var(--interactive-secondary);
    border-color: "transparent";
}

.btn-outlined, .btn-outlined-white, .btn-outlined-primary {
    background: transparent;
    border-radius: 25px;
    border: 1px solid;
}

    .btn-outlined-white, .btn-outlined-white:hover, .btn-outlined-white:active, .btn-outlined-white:focus, .btn-outlined-white:active:focus {
        border-color: white;
        color: white;
    }

.btn-outlined-primary {
    border-color: var(--primary);
    color: var(--primary);
}

    .btn-outlined-primary:hover, .btn-outlined-primary:active, .btn-outlined-primary:focus, .btn-outlined-primary:active:focus {
        border-color: var(--interactive-primary);
        color: var(--interactive-primary);
    }
