@import url("variables.css");

.checkbox {
    display: flex;
    align-items: baseline;
}

input[type="checkbox"] {
    accent-color: var(--interaction-select-active);
    margin: 5px;
}

.border-chk {
    max-width: var(--spacing-stack-xxs);
    margin-right: var(--spacing-stack-quark);
}

.border-chk:hover,
.border-chk:focus-within {
    width: var(--spacing-stack-xxs);
    height: var(--spacing-stack-xxs);
    border-radius: 50%;
    background-color: var(--interaction-blend-02);
    border: none;
}

.border-chk:focus-within {
    outline: solid 2px var(--typeface-meld);
}

.border-chk:active {
    outline: none;        
}