@import url("variables.css");

/* FLOATING CALENDAR */
.bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 0px;
    inset: 62px auto auto 0px !important;
    padding: 16px;
    width: auto;
    filter: drop-shadow(0px 4px 4px rgba(22, 22, 22, 0.04)) drop-shadow(0px 8px 24px rgba(22, 22, 22, 0.08));
    border: 1px solid var(--interaction-blend-01);
}

    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after,
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
        content: none;
    }

.datepicker table tr td.today,
.datepicker table tr td.today,
.datepicker table tr td.h {
    background: none;
    color: var(--interaction-select-default);
}

    .datepicker table tr td.today:hover {
        background-color: var(--interaction-subtle-01);
        color: var(--interaction-select-default);
    }

    .datepicker table tr td.today::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid black;
        z-index: -1;
        width: 24px;
        margin-left: auto;
        margin-right: auto;
    }

.bootstrap-datetimepicker-widget table td span.active {
    background: var(--interaction-select-active);
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td.day.active,
.bootstrap-datetimepicker-widget table td.day.active.today:hover {
    background: var(--interaction-select-active);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 150%;
    color: var(--interaction-onbrand-blend-08);
}

.bootstrap-datetimepicker-widget table td.today:before {
    content: none;
}

.bootstrap-datetimepicker-widget table td.day {
    color: var(--interaction-select-default);
    line-height: 150%;
    height: auto;
    padding: 12px;
}

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
    color: var(--typeface-meld);
}

.bootstrap-datetimepicker-widget table th.dow {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    padding: 16px 8px;
}

.bootstrap-datetimepicker-widget .picker-switch {
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.datepicker th {
    padding: 8px 16px;
}

.bootstrap-datetimepicker-widget table th.prev span,
.bootstrap-datetimepicker-widget table th.next span {
    font-size: 20px;
}
/* END FLOATING CALENDAR */

/* INPUT */
.form-control.date-picker,
.form-control.datetime-picker {
    padding: 0px;
    height: auto !important;
    min-height: auto !important;
    background: none;
    border: none;
}

    .form-control.date-picker:not(:placeholder-shown),
    .form-control.datetime-picker:not(:placeholder-shown) {
        top: 0px;
        color: var(--typeface-pure);
        padding-top: 12px;
    }

.form-group label ~ .form-control.date-picker:not(:placeholder-shown),
.form-group label ~ .form-control.datetime-picker:not(:placeholder-shown) {
    top: 8px;
}

.form-control.date-picker:placeholder-shown,
.form-control.datetime-picker:placeholder-shown {
    color: var(--interaction-select-default);
}

.form-control:focus {
    box-shadow: none;
}

.floating-labels ignite-datetime-picker[disabled] .form-group input {
    color: var(--typeface-meld) !important;
}

.floating-labels
ignite-datetime-picker[disabled]
.form-group
.form-control.date-picker:not(:placeholder-shown),
.form-control.datetime-picker:not(:placeholder-shown) {
    position: relative;
}
/* END INPUT */

/* LABELS */
.floating-labels ignite-datetime-picker[empty] label {
    top: 20.5px;
    left: 16px;
    margin-bottom: 0px;
}

.floating-labels .focused label,
.floating-labels ignite-datetime-picker[empty] .focused label {
    top: 12px;
    left: 16px;
    font-size: 12px;
    color: var(--primary);
    margin-bottom: 0px;
}

.floating-labels ignite-datetime-picker[not-empty] label {
    top: 12px;
    left: 16px;
    font-size: 12px;
}

ignite-datetime-picker:not([disabled]) .form-group > label {
    display: none;
}

.floating-labels ignite-datetime-picker[disabled] .form-group label {
    top: 8px;
}

.floating-labels ignite-datetime-picker[disabled] .form-group label {
    color: var(--typeface-meld) !important;
}

.form-group .input-group:focus-within label {
    color: var(--primary);
}
/* END LABELS */

/* CONTAINER */
.form-group .input-group {
    padding: 16px;
    border: var(--interaction-blend-04) thin solid;
    border-radius: 8px;
}

.input-group-text {
    border: none;
    background-color: transparent;
}

.form-group:focus-within {
    border-radius: 8px;
    border-bottom: var(--primary) 2px solid;
}

.floating-labels ignite-datetime-picker[disabled] .form-group {
    padding: 16px;
    background-color: transparent;
    border: var(--interaction-blend-04) thin solid;
    border-bottom: var(--interaction-blend-04) 2px solid;
    border-radius: 8px;
    border-bottom: var(--interaction-blend-04) 2px solid;
}
/* END CONTAINER */

ignite-datetime-picker .fa {
    font-family: "Font Awesome 5 Free" !important;
}

ignite-datetime-picker [class^="ti-"],
[class*=" ti-"] {
    font-family: "themify" !important;
}

/* VALIDATION ERRORS */
ignite-datetime-picker[with-errors] .form-group,
ignite-datetime-picker[with-errors] .form-group:focus-within {
    border-bottom: var(--feedback-error-text) 2px solid;
}

    ignite-datetime-picker[with-errors] label,
    ignite-datetime-picker[with-errors] .form-group:focus-within label {
        color: var(--feedback-error-text);
    }
