@import url("variables.css");

html body .m-b-40 {
  margin-bottom: 0px;
}

.form-group,
ignite-input,
ignite-dropdown,
ignite-datetime-picker,
ignite-textarea,
ignite-checkbox {
  margin-bottom: var(--spacing-stack-xxs);
  display: block;
}

.floating-labels .has-success .form-control {
  border-bottom: none;
}

.floating-labels .form-group.has-success {
  border-bottom: var(--feedback-success-shape-01) 2px solid;
}

.has-success .form-control:focus ~ label,
.has-success .form-control:valid ~ label {
  color: var(--feedback-success-text);
}
.dm-container {
    max-width: 1200px;
    padding: 20px;
}

.dm-practice-details {
    margin-top: -25px;
    padding-left: 20px
}

@media (max-width: 1200px) {
  .dm-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dm-container {
    padding: 24px 0px;
  }
}

form.floating-labels {
  padding-top: 0px;
}
