@import url("variables.css");

ignite-input .form-group {
    padding: 16px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--gray);
    min-height: 56px;
}

.floating-labels ignite-input .form-control,
ignite-input .form-control,
ignite-input .form-control:focus {
    border: none;
    height: auto;
    background-color: transparent;
    padding: 0;
    min-height: 0;
    line-height: 150%;
    position: relative;
    top: 8px;
    font-size: 16px;
}

.floating-labels ignite-input[value-only] .form-control {
    top: 2px;
}

ignite-input .bar {
    display: none !important;
}

.floating-labels ignite-input .form-group label,
.floating-labels ignite-input[empty] label {
    top: 14px;
    margin-bottom: 0;
    font-size: 20px;
}

.floating-labels
ignite-input
.form-group.focused
.form-control:not([readonly]) ~ label,
.floating-labels ignite-input[not-empty] label {
    top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}

ignite-input:not([disabled]) .form-group.focused {
    border-bottom: var(--primary) 2px solid;
}

ignite-input[disabled] .form-group {
    border-bottom: var(--interaction-blend-04) 2px solid;
}
/* DISABLED STATE */

/* VALIDATION ERRORS */
.floating-labels
ignite-input[with-errors]
.form-group.focused
.form-control ~ label {
    color: var(--feedback-error-text);
}

ignite-input[with-errors] .form-group,
ignite-input[with-errors] .form-group.focused {
    border-bottom: var(--feedback-error-text) 2px solid;
}

.validations-container {
    padding-left: 0px;
    margin-top: 4px;
}

    .validations-container span {
        font-size: 12px;
        line-height: 16px;
    }

    .validations-container .validation-element .field-validation-valid ~ img {
        display: none;
    }

    .validations-container .validation-element .field-validation-error ~ img {
        display: block;
    }

    .validations-container .validation-element {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
    }

        .validations-container .validation-element img {
            margin-right: 4px;
        }
/* END VALIDATION ERRORS */

/* PASSWORD INPUTS */
.input-with-password-container {
    display: flex;
}
/* END PASSWORD INPUTS */

.switchery {
    background-color: #4B4B4B !important;
    max-height: 24px;
    padding: 0 4px;
    width: 40px;
    -moz-user-select: initial;
    -khtml-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    background-clip: initial;
}

    .switchery:hover {
        background-color: #161616 !important;
    }

    .switchery > small {
        background: #fff;
        height: 16px;
        width: 16px;
        top: 50%;
        margin-top: -8px;
        margin-left: 3px;
        margin-right: 3px;
    }

        .switchery > small::after {
            content: '';
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: rgba(22, 22, 22, 0.08);
            position: absolute;
            top: 50%;
            margin-top: -20px;
            left: 50%;
            margin-left: -20px;
            opacity: 0;
        }

    .switchery:hover > small::after {
        opacity: 1;
    }

    .switchery:focus > small::after, .switchery:active > small::after {
        border: 2px solid #1616163D;
        opacity: 1;
    }

.form-group.m-b-40:has(input.form-control), .form-group.m-b-40:has(select) {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.form-group.m-b-40 img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(3%) hue-rotate(2deg) brightness(98%) contrast(90%);
    cursor: pointer;
}
