.swal2-popup .swal2-title {
    font-family: "Dasa Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 133%;
    margin-bottom: 8px !important;
    color: var(--color-typeface-inverse-on-brand) !important;
}

.swal2-content {
    font: 400 16px "Dasa Sans" !important;
    line-height: 150%;
    display: flex !important;
    justify-content: flex-start !important;
    text-align: initial !important;
    color: #666666;
    margin-bottom: 48px !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-icon-text {
    font: 700 16px/24px "Dasa Sans" !important;
}

.swal2-icon {
    display: none !important;
}

.swal2-popup {
    border-radius: 16px !important;
    border: 1px solid var(--interaction-blend-02) !important;
    padding: 32px !important;
    box-shadow: 0px 12px 12px rgba(22, 22, 22, 0.04), 0px 24px 56px rgba(22, 22, 22, 0.08);
}

    .swal2-popup #swal2-content {
        text-align: initial !important;
    }

    .swal2-popup .swal2-header {
        display: flex !important;
        flex-direction: initial !important;
        align-items: center !important;
    }

    .swal2-popup .swal2-actions {
        margin-right: 0px !important;
        margin-top: 4px !important;
    }

.swal2-success-circular-line-left {
    display: none;
}

.swal2-success-circular-line-right {
    display: none;
}

.swal2-animate-success-icon .swal2-success-circular-line-right {
    -webkit-animation: none;
    animation: none;
}

.swal2-animate-warning-icon {
    top: 25px !important;
    left: -0.5em !important;
}

.swal2-icon.swal2-success {
    border: 0px;
    position: absolute !important;
    height: 20px !important;
}

    .swal2-icon .swal2-success .swal2-animate-success-icon {
        top: 23px !important;
        left: 12px !important;
        width: 20px !important;
    }

    .swal2-icon.swal2-success .swal2-success-ring {
        height: 20px !important;
        border: none !important;
        top: 0px !important;
        box-shadow: inset 0 0 0 2px var(--feedback-success-shape-01) !important;
    }

    .swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
        width: 8px !important;
        background-color: var(--feedback-success-shape-01) !important;
        top: 10px !important;
        left: -0.5px !important;
        font-size: 10px !important;
    }

    .swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
        background-color: var(--feedback-success-shape-01) !important;
        left: 2.5px !important;
        width: 13px !important;
        top: 8px !important;
        font-size: 10px !important;
    }

@media (min-width: 1024px) {
    .swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
        left: 2.5px !important;
        width: 13px !important;
        top: 8.5px !important;
    }

    .swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
        width: 6px !important;
        top: 10px !important;
        left: -0.5px !important;
    }
}

.swal2-icon.swal2-warning {
    box-shadow: inset 0 0 0 2px var(--feedback-error-shape) !important;
    color: var(--feedback-error-shape) !important;
    border: none !important;
}

.swal2-icon.swal2-info {
    box-shadow: inset 0 0 0 2px #3fc3ee !important;
    border: none !important;
    color: #3fc3ee !important;
}

.swal2-icon.swal2-error {
    box-shadow: inset 0 0 0 2px var(--feedback-error-shape) !important;
    color: var(--feedback-error-shape) !important;
    border: none !important;
}

.swal2-success-fix {
    display: none;
}

.swal2-icon {
    top: 25px !important;
    left: 22px !important;
}

.swal2-animate-success-icon,
.swal2-animate-error-icon,
.swal2-animate-warning-icon,
.swal2-animate-info-icon {
    height: 22px !important;
    width: 22px !important;
    animation: nome !important;
    -webkit-animation: none !important;
    position: absolute !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="right"] {
    font-size: 10px !important;
    right: -7.5px !important;
    width: 14px !important;
    top: 9px !important;
    color: var(--feedback-error-shape) !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="left"] {
    font-size: 10px !important;
    left: -7.5px !important;
    width: 14px !important;
    top: 9px !important;
    color: var(--feedback-error-shape) !important;
}

.swal2-icon.swal2-error .swal2-x-mark {
    position: absolute !important;
}

.swal2-animate-error-icon .swal2-x-mark {
    animation: nome !important;
    -webkit-animation: none !important;
}

.swal2-cancel {
    color: var(--primary) !important;
    background-color: var(--neutral-00) !important;
    border-radius: 4px !important;
    min-width: 90px !important;
    padding: 12px 16px !important;
    margin-left: 0px !important;
    margin-right: 16px !important;
}

    .swal2-cancel :focus {
        border: 2px solid var(--interaction-select-active) !important;
        background-color: var(--interaction-subtle-01) !important;
    }

    .swal2-cancel :hover {
        background-color: var(--interaction-subtle-01) !important;
    }

    .swal2-cancel :active {
        border: none !important;
        background-color: var(--interaction-subtle-01) !important;
    }

.swal2-confirm {
    color: var(--neutral-00) !important;
    background-color: var(--primary) !important;
    border-radius: 4px !important;
    min-width: 90px !important;
    padding: 12px 16px !important;
    margin: 0px !important;
}

.swal2-confirm,
.swal2-cancel {
    font-family: "Dasa Sans" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    border-radius: 60px !important;
}

    .swal2-confirm :hover {
        background-color: var(--interaction-accent-02) !important;
    }

    .swal2-confirm :focus {
        background-color: var(--interaction-accent-02) !important;
        border: 2px solid var(--interaction-accent-02) !important;
    }

    .swal2-confirm :active {
        background-color: var(--interaction-accent-02) !important;
    }

.load-panel .swal2-popup.swal2-modal.swal2-show {
    width: 60px;
    height: 60px;
    border-radius: 100% !important;
    padding: 0 !important;
}

.load-panel .swal2-header {
    display: none !important;
}

.load-panel #loading-spinner {
    padding: 0 !important;
}

.load-panel #swal2-content {
    width: 100%;
    text-align: center !important;
}

.load-panel .swal2-content {
    margin-bottom: 0 !important;
}

.load-panel #loading-spinner {
    padding: 0;
}
