@import url("variables.css");

ignite-textarea .form-group {
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--interaction-blend-01);
  min-height: 56px;
}

.floating-labels ignite-textarea .form-control,
ignite-textarea .form-control,
ignite-textarea .form-control:focus {
  border: none;
  height: auto;
  background-color: transparent;
  padding: 0;
  min-height: 0;
  line-height: 150%;
  position: relative;
  top: 8px;
  font-size: 16px;
}

.floating-labels ignite-textarea[value-only] .form-control {
  top: 2px;
}

ignite-textarea .bar {
  display: none !important;
}

.floating-labels ignite-textarea .form-group label,
.floating-labels ignite-textarea[empty] label {
  top: 18px;
  margin-bottom: 0;
  font-size: 16px;
}

.floating-labels
  ignite-textarea
  .form-group.focused
  .form-control:not([readonly])
  ~ label,
.floating-labels ignite-textarea[not-empty] label {
  top: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

ignite-textarea:not([disabled]) .form-group.focused {
  border-bottom: var(--interaction-select-active) 2px solid;
}

ignite-textarea[disabled] .form-group {
  border-bottom: var(--interaction-blend-04) 2px solid;
}
/* DISABLED STATE */

/* VALIDATION ERRORS */
.floating-labels
  ignite-textarea[with-errors]
  .form-group.focused
  .form-control
  ~ label {
  color: var(--feedback-error-text);
}

ignite-textarea[with-errors] .form-group,
ignite-textarea[with-errors] .form-group.focused {
  border-bottom: var(--feedback-error-text) 2px solid;
}

.validations-container {
  padding-left: 16px;
  margin-top: 8px;
}

.validations-container span {
  font-size: 12px;
  line-height: 16px;
}

.validations-container .validation-element .field-validation-valid ~ img {
  display: none;
}

.validations-container .validation-element .field-validation-error ~ img {
  display: block;
}

.validations-container .validation-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}

.validations-container .validation-element img {
  margin-right: 4px;
}
/* END VALIDATION ERRORS */

/* PASSWORD INPUTS */
.input-with-password-container {
  display: flex;
}
/* END PASSWORD INPUTS */
